body {
    font-size: 20px;
    background-color: rgb(220,239,253);
}

div {
    background-color: white;
}

.outer {
    background-color: inherit;
}

.commandInputBox {
    margin: 11px 6px 0 6px;
    padding-right: 20px; /* want overflow to be empty space */
    width: auto;
    overflow: hidden; /* need overflow to not be visible to trigger a block formatting context and get sidebar to be side by side with sidebar */
}

.commandInputField {
    padding: 8px 0 8px 13px;
}

.commandInputField:focus {
    outline: none;
    border-color: rgb(127, 98, 138);
}

.stretchToSidebar {
    width: 100%;
}

.roundedBorder {
    border: 2px solid black;
    border-radius: 16px;
}

.sidebar {
    float: right;

    margin: 0 10px;
}

.statusBox {
    min-width: 165px;
    padding: 0 15px;
}

.upcomingToDoBox {
    padding: 0 15px;
    margin: 5px 0;
}

.statusList {
    list-style-type: none;
    padding-left: 0;
    padding-right: 20px;
}

.center {
    text-align: center;
}

