<div class="statusBox roundedBorder">

    <!--Compile these into a single file-->
    <script type="text/javascript" src="../js/connectionStatusDrawer.js"></script>

    <script type="text/javascript" src="../js/robotPingAverager.js" onload="startUpdatingConnectionStatus('robotConnection', getAvgRobotPing)"></script>
    <script type="text/javascript" src="../js/serverPingAverager.js" onload="startUpdatingConnectionStatus('serverConnection', getAvgServerPing)"></script>

    <h1 class="center">Status</h1>
    <ul class="statusList">
        <!-- Display a status in the form of a colored circle showing how healthy the connection between mission control and the robot -->
        <li><canvas class="serverConnection" width="15" height="15"></canvas> Server</li>
        <li><canvas class="robotConnection" width="15" height="15"></canvas> Robot</li>
    </ul>

</div>